.contact {
	flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-color: #647AA3;
    margin: 70px auto;
    width: 200px;
    border-radius: 30px;
    align-content: center;
    padding: 5px;
    box-shadow: 1px 4px 9px rgb(177 174 174);
}

.contact p {
	color: white;
    padding: 10px;
}